<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/projects_style.css') }}">
</head>
<body>
  <div>
    <p>
        Bodza is a very friendly dog, she loves to play with other dogs. When we go to the park, she always looks for a playmate. She runs, wrestles, and never gets tired of playing together.
    </p>
  </div>
    <a href="{{ url_for('home') }}" class="back-button">← Back to Homepage</a>
</body>
</html>
