<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/projects_style.css') }}">
</head>
<body>
  <div>
    <p>
    Bodza's favorite season is summer. We spend a lot of time outdoors, splashing in the water and enjoying the sunshine. You can see how happy she is when it's warm and we can be together.    </p>
  </div>
    <a href="{{ url_for('home') }}" class="back-button">← Back to Homepage</a>
</body>
</html>
